.friendsCard_box {
  display: flex;
  max-height: 100px;
  padding: 10px;
  width: 20vw;
  align-items: center;
}

.friendsCard_box__img {
  padding-left: 20px;
}

.friendsCard_box__friendsName {
  display: flex;
}
