.swiper_style{
  background-size: cover; 
  height: 480px;
  border-radius: 5px;
}

span, h4{
  color: white;
}



.swiper_style_no_session{
  margin-top: 50px;
  background-size: cover; 
  height: 600px;
  border-radius: 5px;
}

.down_flag{
  float: right;
  padding: 10px;
  height: 20%;
  width: 30%;
  margin-top: 42%;
  /* padding-left: 5%; */
  background: linear-gradient(rgb(83, 175, 211),rgb(75, 184, 199),rgb(57, 202, 178));
}

.down_flag_no_session{
  float: right;
  padding: 10px;
  height: 18%;
  width: 20%;
  margin-top: 26%;
  background: linear-gradient(rgb(48, 107, 184),rgb(84, 173, 214));
}
